.codeStyle {
  margin: 0 !important;
  background: theme("colors.code-background") !important;
}

.codeStyle > code {
  font-family: "JetBrains Mono", monospace !important;
  background: transparent !important;
}
